.nav {
  align-items: center;
}

.ul {
  list-style: none;
  display: flex;
}

li {
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: white;
}

/* .active {
  background-color: gray;
} */
