/* @import "./reset.css"; */

a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
.homeawaycon {
  display: flex;
  justify-content: space-around;
}

.eachflex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.eachitems {
  flex-grow: 0.5;
}

img {
  height: 360px;
  width: 480px;
}
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
}

._scorebatEmbeddedPlayer_ {
  width: 50% !important;
}
